#########################
# Regras principais
#########################

# Ignore tudo por padrão
*

# Exceto estes arquivos/extensões:
!.gitignore
!*.py
!*.cs
!*.csproj
!*.sln
!*.csx
!README
!README.*

# Modelo (ajuste o nome se mudar)
!yolov8n.pt

# Ainda assim ignore pastas/arquivos típicos de ambiente
__pycache__/
.venv/
env/
venv/
.env

# Pastas típicas de projetos C# (bin, obj, etc)
bin/
obj/
*.user
*.suo
.vs/
