#########################
# Regras principais
#########################

# Ignore tudo por padrão
*

# Permite pastas (necessário para que arquivos dentro delas sejam rastreados)
!*/

# Exceto estes arquivos/extensões:
!.gitignore
!*.py
!*.cs
!*.csproj
!*.sln
!*.csx
!README
!README.*

# Modelo (ajuste o nome se mudar)
!yolov8n.pt

# Ainda assim ignore pastas/arquivos típicos de ambiente
__pycache__/
.venv/
env/
venv/
.env

# Pastas típicas de projetos C# (bin, obj, etc)
bin/
obj/
*.user
*.suo
.vs/

# Garante que essas pastas específicas sejam ignoradas mesmo após !*/
**/bin/
**/obj/
**/.vs/
**/__pycache__/
**/.venv/
**/env/
**/venv/
