#########################
# Regras principais
#########################

# Ignore tudo por padrão
*

# Exceto estes arquivos/extensões:
!.gitignore
!*.py
!README
!README.*

# Modelo (ajuste o nome se mudar)
!yolov8n.pt

# Ainda assim ignore pastas/arquivos típicos de ambiente
__pycache__/
.venv/
env/
venv/
.env
